<template name='pressFeedFull'>
  <div class='container'>
    <div class='row'>
    {{#each pressFeed}}
      <a style="cursor:pointer;" target='_blank' href='{{articleUrl}}'>
        <div class='col-xs-12 col-sm-6 col-md-4 col-lg-4'>
          <div class='full-size'>
            <img class='img-responsive logoUrl {{grayEnabled}}' src='{{logoUrl}}'>
          </div>
          <div class='row text-center pressText'>
            <h4 class='headlineText'>{{headline}}</h4>
            <p>{{blurb}}</p>
          </div>
        </div>
      </a>
    {{/each}}
    </div>
  </div>
</template>
